@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

.visible {
  background-color: #f2f2f2;
}
.continue-shopping{
  float: right;
  padding-bottom: 18px;
}
.remove-product{
  padding: 7px 10px 8px 11px;
  margin-bottom: 8px;
  margin-top: 8px;
}
.product-bx{
  border: 1px solid red;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
}
.product-bx img{
  width: 100px;
  height: 100px;
}
.avatarstyle img{
  width: 100px;
  height: 100px;
}
.loader{
  position: absolute;
  left: 50%;
  top: 40%;
}
.error{
  fontSize: 12px;
  color: red;
}
.registration-btn{
  position: absolute;
  margin: 0 0 0 10px;
}
.already-login-btn{
  position: absolute;
  margin: 0 0 0 10px;
}
.process-loader{
  position: absolute;
  right: 24px;
  top: 35px;
  width: 29px;
}
.loader-reg{
  position: absolute;
  right: 144px;
  width: 29px;
}
.loader-login{
  position: absolute;
  right: 290px;
  width: 29px;
  top: 5px;
}
td{
  padding: 10px;
}
th{
  padding: 10px;
}
.back-to-list{
  position: absolute;
  margin: 0 0 0 10px;
}
.loader-user{
  position: absolute;
  right: 325px;
  width: 29px;
  top: 348px;
}
.permission_list li{
  list-style: none;
}
.permission_list li span{
  padding: 8px;
}