body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.nav_links li{
  list-style: none;
  float: left;
  padding: 0 0 0 16px;
}
.nav_links li:after{
  content: "|";
  padding: 0 0 0 10px;
}
.content{
  margin-top: 80px;	
}
.permission-error{
  color: red;
  position: absolute;
  top: 50%;
  left: 5%;
}
.user-listing-heading{
  margin-bottom: 28px;
}